.header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    position:sticky;
    top:0;
    z-index:999;

    background:transparent;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu>li:hover{
    cursor: pointer;
    color: var(--orange);
}

/* ================= MOBILE ================= */

@media screen and (max-width:768px){

    /* bars icon */
    .header > :nth-child(2){
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 1000;
    }

    /* dropdown */
    .header-menu{
        position: fixed;
        top: 4.8rem;
        right: 1rem;

        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        background: #3c3f45;
        padding: 1.5rem 2rem;
        border-radius: 10px;

        z-index: 999;
        box-shadow: 0 8px 25px rgba(0,0,0,.35);
    }

    .header-menu li{
        cursor: pointer;
    }
}